/* Visuals */
#gradient {
  height: 50px;
  background-image: linear-gradient(#1E90FF, #0000CD);
}

/* body {
  background-image: url('/img/background/forest.jpeg');
} */

.primary {
  height: 300px;
  width: 600px;
  background-color: lightblue;
}

.main_text {
  font-family: Montserrat-VariableFont_wght.ttf;
}
